.portfolio-intro {
    background: #fffd7a;
    height: 10rem;
}

.works {
    background: #000091;
    color: white;
}

.work-row {
    align-items: center;
    max-width: 1500px;
    padding: 1rem;
}

.work-row__text {
    padding: 2rem;
}

.work-row__text h3 {
    margin-bottom: 2rem;
    margin-top: 0;
}

.left {
    background: white;
    color: #000091;
    flex-direction: row-reverse;
}
.work-row__img {
    font-size: 0.7rem;
}

.work-row__img a {
    margin: 0;
}

.website-img {
    border: 1px solid #eee;
    border-radius: 50%;
    width: 100%;
}

.website-img:hover {
    transform: scale(1.02);
    transition: transform 1000ms ease-out;
}

.blue {
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5);
}

.blue:hover {
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.5);
}

.white {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.white:hover {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
}

.work-row__img p {
    text-align: center;
}

@media (min-width: 550px) {
    .work-row {
        display: flex;
        justify-content: space-between;
    }

    .work-row__text {
        text-align: left;
        width: 40%;
    }
    
    .work-row__img {
        width: 40%;
    }

    .work-row__img {
        padding: 2rem 0;
    }
}