#just4yourpets {
    background: #42dee1;
}

#depoppler {
    background: #f7f6f6;
    color: black;
    display: flex;
    flex-direction: column;
}

#wickid-sense {
    background: #216353;
}

.main-nav ul {
    background: #001244;
}

.main-nav a {
    color: white;
}

.main-nav a:hover {
    color: #11999e;
}

.portfolio-intro {
    background: #001244;
    color: #ccc;
    padding: 5rem;
}

.portfolio-intro h1 {
    font-size: 3rem;
}

.portfolio-intro div {
    background: #001244;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.portfolio-intro a {
    margin-top: 2rem;
}

.works {
    color: white;
}

.work-row {
    align-items: center;
    padding: 5rem;
}

.work-row__text {
    padding: 2rem;
}

.work-row__text h3 {
    margin-bottom: 2rem;
    margin-top: 0;
}

.work-row__img {
    font-size: 0.7rem;
}

.work-row__img a {
    margin: 0;
}

.website-img {
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.website-img:hover {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    transition: all 1000ms ease-out;
}

.work-row__img p {
    text-align: center;
}

@media (min-width: 700px) {
    #depoppler {
        flex-direction: row-reverse;
    }
    
    #depoppler .work-row__text {
        text-align: right;
    }

    .work-row {
        display: flex;
        justify-content: space-between;
    }

    .work-row__text {
        text-align: left;
        width: 40%;
    }
    
    .work-row__img {
        width: 40%;
    }

    .work-row__img {
        padding: 2rem 0;
    }
}