#portfolio {
    background: #001244;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
    position: relative;
}

#just4yourpets,
#codychurch,
#depoppler,
#wickid-sense {
    padding: 4rem 2.5rem;
}

#wickid-sense {
    padding-bottom: 7rem;
}

.portfolio-intro {
    color: #ccc;
    padding: 7rem 5rem 2rem;
    position: relative;
}

.portfolio-intro__header {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1100px;
}

.portfolio-intro__header img{
    margin: 2rem auto 0;
    max-width: 400px;
    width: 100%;
}

.portfolio-intro h1 {
    font-size: 3rem;
}

.portfolio-intro__toolbar {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.portfolio-intro a {
    margin-top: 2rem;
}

.works {
    color: black;
}

.work-row {
    align-items: center;
    background: #f1f1e3;
    border-radius: 16px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
    max-width: 1300px;
    padding: 1rem;
}

.work-row__text {
    padding: 2rem;
}

.work-row__text h3 {
    margin-bottom: 2rem;
    margin-top: 0;
}

.work-row__img {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    padding: 2rem;
}

.work-row__github-link {
    align-items: center;
    display: flex;
    color: black;
    font-family: inherit;
    font-size: 0.8rem;
    justify-content: center;
    margin: 0;
}

.work-row__github-link:hover {
    color: #11999e;
}

.work-row__github-link i {
    margin: 0;
    margin-left: 0.5rem;
}

.website-img {
    border-radius: 50%;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 100% !important;
}

.website-img:hover {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}

.work-row__img p {
    text-align: center;
}

@media (min-width: 525px) {
    .portfolio-intro__header img {
        width: 70%;
    }
}

@media (min-width: 700px) {  
    .portfolio-intro__header {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .portfolio-intro__header__text {
        text-align: left;
        width: 60%;
    }
    
    
    .work-row {
        display: flex;
        height: 25rem;
        justify-content: space-between;
        margin: auto;
    }
    
    .work-row__text {
        text-align: left;
        width: 40%;
    }
    
    .work-row__img {
        width: 40%;
    }
    
    .work-row__img {
        padding: 2rem;
    }
    
    .reverse {
        flex-direction: row-reverse;
    }
    
    .reverse .work-row__text {
        text-align: right;
    }
}

@media (max-width: 350px) {
    .portfolio-intro a {
        margin: 1rem 0.5rem;
    }
}